{% extends "main/base.html" %}
{% load static %}
{% block title %}Technolab Student{% endblock %}

{% block style %}
    <style>
    </style>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <h1>Bienvenue Tachnolab !</h1>
{% endblock %}

{% block footer %}
    <div class="container">
        <div class="row text-center">
            <div class="col-3">
                <a href="https://wa.me/+22379376132/?text=Salut technolab...">whatsapp</a>
            </div>
            <div class="col-3">
                <a href="#">Conditions d'utilisations</a>
            </div>
            <div class="col-3">
                <a href="tel:+22379376132">+223 79 37 61 32</a>
            </div>
            <div class="col-3">
                <a href="mailto:mallemoussa091@gmail.com">Gmail</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center text-primary">
                <h1>(c) tous droits reservés - jouillet 2023</h1>
            </div>
        </div>
    </div>
{% endblock %}